@font-face {
    font-family: Nunito;
    src: url('./fonts/Nunito-Regular.ttf?inline=false');
}

@font-face {
    font-family: Nunito Semi Bold;
    src: url('./fonts/Nunito-SemiBold.ttf?inline=false');
}

@font-face {
    font-family: Nunito Bold;
    src: url('./fonts/Nunito-Bold.ttf?inline=false');
}

@font-face {
    font-family: Nunito Light;
    src: url('./fonts/Nunito-Light.ttf?inline=false');
}

@font-face {
    font-family: RobotoSlab;
    src: url('./fonts/RobotoSlab-Medium.ttf?inline=false');
}

@font-face {
    font-family: RobotoSlab Bold;
    src: url('./fonts/RobotoSlab-Medium.ttf?inline=false');
}

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    background-image: url('https://gitlab.com/taingo96/agory-template/-/raw/main/agory/assets/images/hero_shot_dark.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.top-section {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.top-logo {
    position: absolute;
    top: 16px;
    left: 124px;
    width: 122px;
    height: 48px;
}

.top-logo img {
    width: 100%;
}

.login-section {
    width: 808px;
    height: 457px;
    background-color: white;
    box-shadow: 0px 20px 32px #60617029;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-body {
    width: 100%;
    display: flex;
    flex: 1;
}

.login-title {
    color: #3E7BFA;
    font-family: 'Nunito Bold';
    font-size: 24px;
    letter-spacing: -0.01;
    margin: 32px auto;
}

.social-login {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin: 0 12px 0 24px;
    border-top: solid 1px rgba(0, 0, 0, 0.15);
    position: relative;
}

.social-wrapper {
    margin-top: 32px;
}

.fb-login {
    display: flex;
    margin-bottom: 24px;
}

.fb-login img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.fb-login button {
    width: 132px;
    height: 32px;
    border: none;
    outline: none;
    background-color: #2E8CFF;
    color: #FAFAFC;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 2px 4px #60617029;
}

.google-login {
    display: flex;
    margin-bottom: 24px;
}

.google-login img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.google-login button {
    width: 132px;
    height: 32px;
    border: none;
    outline: none;
    background-color: #D2564A;
    color: #FAFAFC;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 2px 4px #60617029;
}

.linkedin-login {
    display: flex;
    margin-bottom: 24px;
}

.linkedin-login img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.linkedin-login button {
    width: 132px;
    height: 32px;
    border: none;
    outline: none;
    background-color: #008BC2;
    color: #FAFAFC;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 2px 4px #60617029;
}

.login-account {
    width: 50%;
    margin: 0 24px 0 12px;
    border-top: solid 1px rgba(0, 0, 0, 0.15);
    position: relative;
}

.input-wrapper {
    margin-top: 16px;
}

.block-title {
    font-size: 14px;
    color: #1C1C28;
    font-family: 'Nunito';
    position: absolute;
    top: -14px;
    left: 45%;
    background-color: white;
    padding: 4px 8px;
}

.block-left {
    left: 40%;
}

.data-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.data-input label {
    font-size: 12px;
    font-family: 'Nunito';
    margin-left: 8px;
    margin-bottom: 0;
}

.data-input input {
    height: 40px;
    padding: 0 8px;
    border: solid 1px #E4E4EB;
    border-radius: 8px;
    outline: none;
}

.login-options {
    display: flex;
    justify-content: space-between;
}


/* custom checkbox  */

.round {
    position: relative;
}

.round label {
    background-color: #fff;
    border: 1px solid #2E8CFF;
    border-radius: 50%;
    cursor: pointer;
    height: 16px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 16px;
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 5px;
    left: 2px;
    opacity: 0;
    position: absolute;
    top: 3px;
    transform: rotate(-45deg);
    width: 10px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked+label {
    background-color: #2E8CFF;
    border-color: #2E8CFF;
}

.round input[type="checkbox"]:checked+label:after {
    opacity: 1;
}


/* end custom checkbox */

.stay-login {
    display: flex;
    align-items: center;
}

.stay-login span {
    margin-left: 16px;
    font-family: 'Nunito';
    font-size: 14px;
}

.forgot-password a {
    text-decoration: none;
    font-size: 14px;
    font-family: 'Nunito';
    color: #3E7BFA;
}

.login-action {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.btn-login {
    width: 172px;
    height: 32px;
    border: none;
    background-color: #3E7BFA;
    border-radius: 8px;
    box-shadow: 0px 2px 4px #60617029;
    color: whitesmoke;
}

.login-footer {
    padding: 24px 0 32px 0;
    margin: 0 24px;
    text-align: center;
    font-family: 'Nunito';
    border-top: solid 1px rgba(0, 0, 0, 0.15);
}

.login-footer a {
    color: #3E7BFA;
    font-family: 'Nunito Bold';
    text-decoration: none;
}

.bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 124px;
}

.bottom-logos {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    height: 140px;
    margin-bottom: 56px;
    flex-wrap: wrap;
    height: auto;
}

.bottom-logos img {
    width: 160px;
    margin: 24px 8px;
}

.bottom-section-text {
    text-align: center;
}

.bottom-section-text span {
    font-size: 32px;
    color: #3E7BFA;
    font-family: 'RobotoSlab Bold';
}

.bottom-section-info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 32px;
}

.bottom-section-info-item {
    width: 368px;
    display: flex;
    flex-direction: column;
    margin: 12px;
}

.bottom-section-info-item img {
    width: 48px;
    margin-bottom: 8px;
}

.bottom-section-info-item img:hover {
    filter: invert(53%) sepia(95%) saturate(4069%) hue-rotate(207deg) brightness(99%) contrast(98%);
}

.bottom-section-info-item span {
    color: #555770;
    font-size: 24px;
    font-family: 'Nunito';
    margin-bottom: 8px;
}

.bottom-section-info-item p {
    color: #555770;
    font-family: 'Nunito';
    font-size: 16px;
}


/* footer  */

.footer {
    height: 109px;
    background: #3E7BFA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.social {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.brand-slogan {
    display: flex;
    justify-content: flex-start;
    color: white;
    font-family: 'Nunito';
    font-size: 12px;
}

.policy {
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'Nunito';
    font-size: 12px;
}

.policy-link a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
}

@media only screen and (max-width: 800px) {
    .bottom-section {
        padding: 56px 24px;
    }
}

@media only screen and (max-width: 660px) {
    .wrapper {
        height: fit-content;
    }
    .top-section {
        padding: 52px 0;
        background: transparent;
        backdrop-filter: unset;
    }
    .top-logo {
        top: 24px;
        left: 8px;
    }
    .login-section {
        width: 100%;
        height: 555px;
    }
    .login-body {
        flex-direction: column;
    }
    .social-login {
        margin: 0;
        width: 100%;
    }
    .social-wrapper {
        display: flex;
        margin: 16px auto 24px auto;
    }
    .fb-login button,
    .google-login button,
    .linkedin-login button {
        display: none;
    }
    .fb-login img,
    .google-login img,
    .linkedin-login img {
        margin: 12px;
    }
    .login-account {
        margin: 0;
        width: 100%;
    }
    .input-wrapper {
        margin-top: 24px;
        padding: 0 8px;
    }
    .login-footer {
        border: none;
        padding: 16px 0 32px 0;
    }
    .bottom-section {
        padding: 0 8px;
    }
    .bottom-section-text {
        text-align: center;
        margin: 56px auto 32px auto;
    }
    .bottom-logos {
        flex-wrap: wrap;
        height: auto;
        margin: 0;
    }
    .bottom-logos img {
        padding: 18px 0;
    }
    .bottom-section-info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .bottom-section-info-item {
        align-items: center;
        margin-bottom: 32px;
    }
    .footer {
        justify-content: center;
        height: unset;
        padding: unset;
        margin-top: 16px;
    }
    .social {
        justify-content: center;
        margin: 28px auto 8px auto;
    }
    .brand-slogan {
        justify-content: center;
    }
    .policy {
        flex-direction: column;
        justify-content: center;
    }
    .trademark {
        text-align: center;
        margin-bottom: 24px;
    }
    .policy-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 10px;
        background: #3568D4;
        padding: 16px;
    }
}