/* create new influencer section  */

.create-new-influencer {
    width: 1152px;
    margin: 32px auto;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.create-new-influencer-header {
    font-size: 20px;
    font-family: 'Nunito Bold';
    color: #3E7BFA;
    margin: 8px 0;
}

.influencer-title {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

#hide-ruler {
    display: none;
    white-space: pre;
}

#list-name-binding {
    background: none;
    border: none;
    outline: none;
    font-family: 'Nunito Bold';
    font-size: 14px;
    color: #1C1C28;
    margin-right: 12px;
    white-space: nowrap;
    max-width: 500px;
    overflow: auto;
}

#list-name-binding::-webkit-scrollbar {
    display: none;
}

.edit-list-name-btn {
    cursor: pointer;
}

.save-list-name-btn {
    cursor: pointer;
}

.cancel-list-name-btn {
    cursor: pointer;
}

.list-name-edit-mode {
    border: solid 1px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding-left: 12px;
}

.create-new-influencer-content {
    width: 100%;
    background: white;
    border-radius: 16px;
    padding: 24px;
    margin: 20px auto;
    box-shadow: 0px 0.5px 2px #60617029;
    display: flex;
    flex-direction: column;
}

.actions-btn {
    display: flex;
    align-items: center;
}

.save-btn {
    height: 16px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-family: 'Nunito Light';
    color: #555770;
    font-weight: 300;
}

.save-btn img {
    height: 100%;
    margin-right: 4px;
}

.save-btn span {
    margin-right: 8px;
}

.share-btn {
    width: 32px;
    height: 32px;
    border: solid 1px #3E7BFA;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-right: 8px;
}

.share-btn img {
    width: 50%;
    cursor: pointer;
}

.download-btn {
    width: 32px;
    height: 32px;
    border: solid 1px #3E7BFA;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.download-btn img {
    width: 50%;
}

.btn-actions {
    display: flex;
    align-items: center;
}

.add-item-btn {
    color: white;
    font-size: 12px;
    font-family: 'Nunito';
    background: #3E7BFA;
    width: 126px;
    height: 32px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px 0;
    cursor: pointer;
}

.copy-btn {
    width: 118px;
    height: 32px;
    font-family: 'Nunito Light';
    font-size: 12px;
    color: #3E7BFA;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #3E7BFA;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 16px;
}

.mobile-copy-btn {
    width: 32px;
    height: 32px;
    font-family: 'Nunito Light';
    font-size: 12px;
    color: #3E7BFA;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #3E7BFA;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 8px;
}

.channel-and-job {
    width: 194px;
    height: 32px;
    font-family: 'Nunito Light';
    font-size: 12px;
    color: #3E7BFA;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #3E7BFA;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 16px;
}

.mobile-channel-and-job {
    width: 194px;
    height: 32px;
    font-family: 'Nunito Light';
    font-size: 12px;
    color: #3E7BFA;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #3E7BFA;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 8px;
}

.delete-btn {
    width: 118px;
    height: 32px;
    font-family: 'Nunito Light';
    font-size: 12px;
    color: #FF3B3B;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #FF3B3B;
    border-radius: 8px;
    margin: 0 20px;
    cursor: pointer;
    margin-left: 16px;
}

.mobile-delete-btn {
    width: 32px;
    height: 32px;
    font-family: 'Nunito Light';
    font-size: 12px;
    color: #FF3B3B;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #FF3B3B;
    border-radius: 8px;
    cursor: pointer;
}

.content-table {
    box-shadow: 0px 2px 4px #60617029;
    padding: 0;
}


/* table data section  */

.data-table {
    position: relative;
    height: 360px;
    overflow: scroll;
}

.data-table::-webkit-scrollbar {
    display: none;
}

.data-table-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    padding: 15px;
    font-size: 14px;
    font-family: 'Nunito';
    color: #1C1C28;
    position: sticky;
    top: 0;
    background: white;
    z-index: 100;
}

.selection-col {
    width: 5%;
    display: flex;
    align-items: center;
}

.influencer-col {
    width: 20%;
}

.type-col {
    width: 10%;
}

.channel-col {
    width: 10%;
}

.job-col {
    width: 15%;
}

.cost-col {
    width: 15%;
}

.note-col {
    width: 25%;
    padding-left: 8px;
}

.data-table-body {
    padding: 15px 0;
}

.data-table-row {
    display: flex;
    font-size: 12px;
    font-family: 'Nunito Light';
    height: 48px;
    align-items: center;
    padding: 0 15px;
}

.data-table-row:hover {
    background: #E5F0FF;
    transition-duration: 300ms;
}

.data-table-row:hover .hidden-btn {
    display: flex;
    transition-duration: 300ms;
}

.selection-row {
    display: flex;
    align-items: center;
}

.selection-row input {
    min-width: 14px;
    -webkit-appearance: none;
    outline: none;
    background: white;
    border: solid #555770 1px;
    height: 14px;
    border-radius: 3px;
    position: relative;
}

.selection-row input:checked {
    background: #3E7BFA;
    border: none;
}

.selection-row input[type='checkbox']:checked:after {
    content: url('/assets/icons/checked-all.svg');
    position: absolute;
}

.influencer-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.user-avatar {
    width: 32px;
    margin-right: 5px;
}

.user-avatar img {
    border-radius: 50%;
}

.type-row {
    display: flex;
    align-items: center;
}

.influencer-pill {
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'Nunito';
    padding: 2px 8px;
    line-height: normal;
}

.influencer-pill-celebrity {
    color: #9654FC;
    border: solid 1px #9654FC;
}

.influencer-pill-kol {
    color: #EC81FE;
    border: solid 1px #EC81FE;
}

.influencer-pill-community {
    color: #1970C0;
    border: solid 1px #1970C0;
}

.influencer-pill-macro {
    color: #BE8F24;
    border: solid 1px #BE8F24;
}

.influencer-pill-micro {
    color: #538135;
    border: solid 1px #538135;
}

.influencer-pill-nano {
    color: #3F403F;
    border: solid 1px #3F403F;
}

.channel-row {
    display: flex;
    align-items: center;
}

.channel-icon {
    width: 32px;
    margin-right: 5px;
}

.job-row {
    display: flex;
    align-items: center;
}

.job-row span {
    margin: auto 5px;
}

.cost-row {
    display: flex;
    align-items: center;
}

.confirm-edit {
    width: 24px;
    height: 24px;
    margin: 8px;
    display: none;
    cursor: pointer;
}

.cancel-edit {
    width: 24px;
    height: 24px;
    margin: auto 8px auto 0;
    display: none;
    cursor: pointer;
}

.confirm-edit-note {
    width: 24px;
    height: 24px;
    margin: 0 8px;
    cursor: pointer;
}

.cancel-edit-note {
    width: 24px;
    height: 24px;
    margin: auto 8px auto 0;
    cursor: pointer;
}

.btn-group-edit-note {
    display: flex;
    justify-content: flex-end;
}

.edit-style {
    background: white;
    border: solid 1px #E4E4EB;
    border-radius: 8px;
    padding-left: 8px;
    margin: 4px 0px 4px 0;
}

.note-row {
    display: flex;
    align-items: center;
}

.note-row span {
    margin-right: 5px;
    max-width: 160px;
}

.note-wrapper {
    display: flex;
    flex: 1;
    position: relative;
}

.note-popup-editor {
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 240px;
    height: 134px;
    padding: 8px;
    z-index: 1000;
}

.note-detail {
    width: 224px;
    height: 86px !important;
    resize: none;
    outline: none;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.note-wrapper .note-edit-btn {
    margin-right: auto;
}

.group-btn {
    width: 92px;
    display: flex;
}

.row-duplicate-btn {
    margin: 12px 16px;
}

.hidden-btn {
    cursor: pointer;
    display: none;
}

.hide-item {
    display: none !important;
}

.show-item {
    display: block;
}

.unit {
    margin-left: 4px;
}

.grids {
    display: grid;
}

.note-content {
    min-width: 30px;
}


/* table data section end  */


/* custom checkbox  */

.TriSea-technologies-Switch>input[type="checkbox"] {
    display: none;
}

.TriSea-technologies-Switch>label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.TriSea-technologies-Switch>label::before {
    background: rgba(235, 235, 240, 1);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position: absolute;
    transition: all 0.4s ease-in-out;
    width: 35px;
}

.TriSea-technologies-Switch>label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 16px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: 0;
    transition: all 0.3s ease-in-out;
    width: 16px;
}

.TriSea-technologies-Switch>input[type="checkbox"]:checked+label::before {
    background: rgb(62, 123, 250);
}

.TriSea-technologies-Switch>input[type="checkbox"]:checked+label::after {
    background: white;
    left: 20px;
}


/* custom checkbox end */

.vat-state span {
    font-size: 14px;
    font-family: 'Nunito Light';
    color: #555770;
}

.content-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.total-items {
    display: flex;
}

.total {
    margin-right: 40px;
    color: #555770;
    font-family: 'Nunito Light';
    font-size: 14px;
}

.price-quotation {
    width: 134px;
    height: 32px;
    background: #3E7BFA;
    color: white;
    font-size: 12px;
    font-family: 'Nunito';
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected-item {
    background: #E5F0FF !important;
}


/* create new influencer section end  */


/* modal section  */

#exampleModalCenter {
    width: 304px;
    margin: auto;
}

.modal-dialog {
    margin: 0 auto;
}

.modal-content {
    border-radius: 16px;
}

.modal-body {
    padding: 0 24px 16px 24px;
}

.modal-footer {
    border-top: none;
    padding: 16px 24px;
}

.modal-header {
    border-bottom: none;
    font-size: 14px;
    font-family: 'Nunito Bold';
    color: #1C1C28;
    padding: 24px;
}

.channel-selection .item-title {
    font-size: 14px;
    font-family: 'Nunito';
    color: #1C1C28;
}

.item-title {
    margin-bottom: 16px;
}

.channel-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.channel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.channel-item input {
    width: 16px;
    height: 16px;
}

.channel-img {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.channel-img span {
    font-size: 12px;
    font-family: 'Nunito Light';
}

.suggest-bar {
    padding: 8px 16px;
    margin: 0 auto 8px auto;
    border: solid 1px #555770;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.suggest-bar img {
    margin-right: 8px;
}

.suggest-radio {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.suggest-radio input {
    width: 16px;
    height: 16px;
}

.radio-label {
    font-size: 12px;
    font-family: 'Nunito';
}

.story {
    margin-bottom: 24px;
}

.modal-footer-btn {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    font-family: 'Nunito';
}

.cancel-btn {
    color: #3E7BFA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 25px;
    cursor: pointer;
}

.confirm-btn {
    color: #FAFAFC;
    background: #3E7BFA;
    width: 100px;
    height: 32px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.other-radio {
    display: flex;
    align-items: center;
}

.other-radio input {
    width: 16px;
    height: 16px;
}

.other-suggest {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.other-input {
    padding: 5px;
    margin: 10px auto;
    border: solid 1px #555770;
    border-radius: 8px;
    display: none;
}

.other-input input {
    border: none;
    outline: none;
    font-size: 12px;
    font-family: 'Nunito';
}


/* modal section end  */


/* delete modal section  */

#delete-modal {
    width: 304px;
    margin: auto;
}

#delete-modal .modal-body span {
    font-size: 12px;
    font-family: 'Nunito';
}

.delete-job-btn {
    color: #FAFAFC;
    background: #FF3B3B;
    width: 100px;
    height: 32px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


/* delete modal section end  */


/* delete notification section  */

.delete-notification {
    width: 338px;
    height: 48px;
    background: var(--unnamed-color-fffee6) 0% 0% no-repeat padding-box;
    background: #FFFEE6 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px #00000029;
    border-radius: 2px;
    position: fixed;
    left: -400px;
    bottom: 134px;
    display: flex;
    align-items: center;
    border-left: solid 2px #FF8800;
    transition-duration: 500ms;
}

.delete-notification span {
    margin: 16px;
    font-size: 12px;
    font-family: 'Nunito';
    color: #1C1C28;
    flex: 1;
}

.undo {
    width: 78px;
    height: 32px;
    border: solid 1px #FF8800;
    background: #FFFFFF;
    outline: none;
    border-radius: 8px;
    color: #FF8800;
    font-size: 12px;
    font-family: 'Nunito';
    cursor: pointer;
}

.undo:focus {
    outline: none;
}

.close-notification {
    width: 24px;
    height: 24px;
    margin: 12px 8px;
    cursor: pointer;
}


/* delete notification section end  */


/* influencer library section  */

.influencer-library-wrapper {
    position: fixed;
    background: #EBEBF0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 150%;
    z-index: 100;
    transition: 0.5s;
    overflow: scroll;
}

.influencer-library-wrapper::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}

.influencer-library-back-to-list {
    height: 64px;
    background: white;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0px 0.5px 2px #60617029;
    z-index: 10;
}

.back-to-list-btn {
    cursor: pointer;
}

.influencer-library-back-to-list>img {
    margin-left: 24px;
    margin-right: 8px;
}

.influencer-library-back-to-list>span {
    font-size: 13px;
    font-family: 'Nunito Bold';
    cursor: pointer;
}

.influencer-library-filter {
    margin-top: 16px;
    width: 296px;
}

.influencer-library-header {
    color: #3E7BFA;
    font-family: 'Nunito Bold';
    font-size: 20px;
    width: 1180px;
    margin: 16px auto 8px auto;
}

.filter-by-close-btn {
    display: none;
}

.expand-filter {
    max-height: 1000px !important;
    transition: 0.5s;
}

.rotate-btn {
    transform: rotate(180deg);
    transition: 0.5s;
}

.expand-btn {
    transition: 0.5s;
    cursor: pointer;
}

.filter-by {
    margin-top: 24px;
}

.filter-row {
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.filter-by-header-text {
    color: #555770;
    font-size: 16px;
    font-family: 'Nunito Bold';
    padding-bottom: 16px;
    width: 100%;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.title-style {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    align-items: center;
    font-size: 14px;
    font-family: 'Nunito Bold';
    color: #555770;
}

.subject-head>span {
    display: flex;
    align-items: center;
}

.info-icon {
    width: 16px;
    height: 16px;
}

.checkbox-pill {
    width: fit-content;
    padding: 4px 12px;
    height: 24px;
    background: #C7C9D9;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 4px;
}

.checkbox-pill input {
    display: none;
}

.checkmark {
    transition: 0.4s;
    width: 0;
    height: 0;
    border: solid white;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    opacity: 0;
}

.subject-text {
    color: #8F90A6;
    font-family: 'Nunito';
    font-size: 10px;
    transition: 0.4s;
}

.checkbox-pill input[type="checkbox"]:checked+.checkmark {
    width: 5px;
    height: 10px;
    margin-right: 8px;
    opacity: 1;
    margin-bottom: 4px;
}

.checkbox-pill input[type="checkbox"]:checked~.subject-text {
    color: white;
}

.color-pill {
    background: #3E7BFA;
}

.subject-body {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    column-gap: 4px;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.related-keywords-body {
    width: 100%;
    height: 72px;
    background: white;
    border: 1px solid #E4E4EB;
    border-radius: 8px;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.bootstrap-tagsinput {
    width: 100%;
    height: 100%;
    border: none !important;
    box-shadow: none !important;
    overflow: scroll;
    padding: 8px !important;
}

.bootstrap-tagsinput::-webkit-scrollbar {
    display: none;
}

.bootstrap-tagsinput input {
    padding: 4px 8px;
    width: 100%;
    font-size: 10px;
    padding: 2px 6px !important;
}

.bootstrap-tagsinput .tag {
    color: #555770 !important;
    background: #C7C9D9 !important;
    font-size: 10px;
    font-family: 'Nunito';
    height: 24px;
    padding: 0 12px;
    border-radius: 50px;
    width: fit-content;
    display: inline-block;
    margin-bottom: 6px;
}

.channel-focus-body {
    font-family: 'Nunito Light';
    font-size: 12px;
    color: #555770;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.focus-item {
    display: flex;
    margin: 4px 0;
}

.cost-plan-selection-radio {
    cursor: pointer;
    margin: auto 0;
    position: relative;
    width: 16px;
    height: 16px;
}

.cost-plan-selection-radio input {
    display: none;
}

.radio-mark {
    position: absolute;
    width: 16px;
    height: 16px;
    border: solid 1px #555770;
    border-radius: 50%;
    top: 0;
    left: 0;
}

.cost-plan-selection-radio input:checked~.radio-mark {
    background: #3E7BFA;
    border: none;
}

.radio-mark::after {
    content: "";
    position: absolute;
    display: none;
}

.cost-plan-selection-radio input:checked~.radio-mark::after {
    display: block;
}

.cost-plan-selection-radio .radio-mark::after {
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 50%;
    top: 5px;
    left: 5px;
}

.label-focus-checkbox {
    min-width: 16px;
    min-height: 16px;
    border: solid 1px #555770;
    border-radius: 4px;
    position: relative;
    margin: auto 0;
    background: white;
}

.tab-checked {
    width: 16px;
    height: 16px;
    border: solid 1px #555770;
    border-radius: 4px;
    position: relative;
    margin: auto 0;
}

.label-focus-checkbox input {
    display: none;
}

.checkmark1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.checkmark1:after {
    content: "";
    position: absolute;
    display: none;
}

.label-focus-checkbox input:checked~.checkmark1 {
    background: #3E7BFA;
}

.label-focus-checkbox input:checked~.checkmark1:after {
    display: block;
}

.label-focus-checkbox .checkmark1::after {
    width: 6px;
    height: 10px;
    top: 1px;
    left: 5px;
    border: solid white;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}

.expand-fb-focus {
    padding-left: 8px;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.plan-detail {
    padding-left: 8px;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.cost-limit {
    margin: 0 4px;
    min-width: 20px;
}

.cost-limit-value {
    border: none;
    background: white;
    border-radius: 4px;
    outline: none;
    height: 24px;
    padding: 0 8px;
    flex: 1;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.cost-limit-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 24px;
    margin-left: auto;
    margin-top: 4px;
}

.cost-limit-btn-confirm,
.cost-limit-btn-cancel {
    border: solid 1px rgba(0, 0, 0, 0.1);
    padding: 4px;
    margin-right: 4px;
    border-radius: 4px;
    box-shadow: 0px 0.5px 2px #60617029;
    z-index: 10;
    cursor: pointer;
    background: #ededf5;
}

.cost-limit-btn-confirm:hover {
    background: #dfdfe7;
    transition: 0.4s;
}

.cost-limit-btn-cancel:hover {
    background: #dfdfe7;
    transition: 0.4s;
}

.library-influencer-type-body {
    color: #555770;
    font-family: 'Nunito Light';
    font-size: 12px;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
}

.library-influencer-type-body-item {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.library-influencer-type-body-item span {
    padding-left: 8px;
}

.library-influencer-gender-body {
    color: #555770;
    font-family: 'Nunito Light';
    font-size: 12px;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
}

.library-influencer-gender-body-item {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.library-influencer-gender-body-item span {
    padding-left: 8px;
}

.library-location-body {
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
}


/* custom location dropdown list select tag  */

.library-location-dropdown {
    width: 100%;
    height: 40px;
    font-family: 'Nunito Light';
    font-size: 14;
    display: flex;
    align-items: center;
    background: #FAFAFC;
    box-shadow: 0px 0.5px 2px #00000029;
    border-radius: 8px;
    padding: 8px;
    position: relative;
    color: #555770;
}

.library-location-dropdown select {
    display: none;
}


/* custom location dropdown list select tag  end */

.location-item-added {
    font-family: 'Nunito Light';
    font-size: 12px;
    color: #555770;
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.location-item-added span {
    padding-left: 8px;
}

.influencer-age-body {
    max-height: 0;
    overflow: hidden;
    padding-bottom: 4px;
    transition: 0.4s;
}

.age-btns {
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    align-items: center;
}

.reset-age-filter-btn {
    color: #0063F7;
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    font-family: 'Nunito';
    cursor: pointer;
    font-weight: bold;
    margin-right: 24px;
}

.reset-age-filter-btn:focus {
    outline: none;
    border: none;
}

.aply-age-filter-btn {
    background-color: #0063F7;
    color: white;
    border: none;
    border-radius: 12px;
    outline: none;
    font-size: 14px;
    font-family: 'Nunito';
    cursor: pointer;
    padding: 6px 12px;
}

.aply-age-filter-btn:focus {
    outline: none;
}


/* age slider  */

.irs--flat {
    height: 35px !important;
}

.irs-line {
    height: 2px !important;
    background: #CCDDFF !important;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
    display: none !important;
}

.irs-bar {
    height: 2px !important;
    background: #3E7BFA !important;
}

.irs-from,
.irs-to {
    display: none !important;
}

.irs--flat .irs-handle {
    top: 18px !important;
    background: white !important;
    border-radius: 50% !important;
    height: 16px !important;
    box-shadow: 0px 2px 4px #60617029 !important;
}

.irs--flat .irs-handle>i:first-child {
    display: none !important;
}


/* age slider end */

.influencer-age-value {
    font-family: 'Nunito Light';
    color: #555770;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.age-value {
    padding: 4px 12px;
    background: #FFFFFF;
    border: 1px solid #E4E4EB;
    border-radius: 8px;
}

.filter-actions-btn {
    font-size: 12px;
    font-family: 'Nunito';
    padding: 16px;
    height: 64px;
    background: #EBEBF0;
    display: none;
}

.filter-delete {
    height: 32px;
    width: 106px;
    border: none;
    background: #C7C9D9;
    box-shadow: 0px 2px 4px #60617029;
    border-radius: 8px;
    margin-right: 8px;
    color: #FF3B3B;
}

.filter-apply {
    height: 32px;
    width: 132px;
    border: none;
    background: #3E7BFA;
    box-shadow: 0px 2px 4px #60617029;
    border-radius: 8px;
    color: white;
}


/* influencer list right side */

.influencer-list-wrapper {
    background: #FFFFFF;
    border-radius: 16px;
    margin-left: 24px;
    width: 858px;
}

.content-block-container {
    display: flex;
    justify-content: center;
    background-color: #EBEBF0;
}

.influencer-list-wrapper-header {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 16px 8px 16px;
}

.search-bar {
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #E4E4EB;
    border-radius: 8px;
    height: 40px;
    padding: 8px;
}

.search-bar input {
    flex: 1;
    margin: 0 8px;
    border: none;
    outline: none;
    font-family: 'Nunito Light';
    font-size: 12px;
    color: #555770;
}

.search-bar img {
    cursor: pointer;
}

.filter-btn-mobile {
    margin: 0 16px;
    position: relative;
    display: none;
}

.btn-filter-mobile {
    color: #FAFAFC;
    font-family: 'Nunito';
    font-size: 12px;
    background: #3E7BFA;
    border-radius: 8px;
    border: none;
    outline: none;
    width: 86px;
    height: 32px;
}

.btn-filter-mobile:focus {
    outline: none;
}

.btn-filter-mobile img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.filter-badge {
    width: 16px;
    height: 16px;
    background: #FF3B3B;
    border-radius: 50px;
    font-family: 'Nunito Bold';
    font-size: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -7px;
    right: -7px;
}

.sort-by {
    display: flex;
    font-family: 'Nunito Light';
    font-size: 14px;
    color: #555770;
    align-items: center;
}

.current-sort-item {
    margin-right: 8px;
}

.sort-by-dropdown {
    height: 40px;
    width: 240px;
    display: flex;
    align-items: center;
    background: #FAFAFC;
    box-shadow: 0px 0.5px 2px #00000029;
    border-radius: 8px;
    padding: 8px;
    position: relative;
}


/* custom select tag  */

.sort-by-dropdown select {
    display: none;
    /*hide original SELECT element:*/
}

.select-selected {
    background-color: none;
    width: 100%;
}


/*style the arrow inside the select element:*/

.select-selected:after {
    position: absolute;
    content: url(/assets/icons/vuesax-linear-arrow-down.svg);
    right: 8px;
    transition-duration: 0.5s;
    width: 24px;
    height: 24px;
}


/*point the arrow upwards when the select box is open (active):*/

.select-selected.select-arrow-active:after {
    transform: rotate(180deg);
    transition-duration: 0.5s;
}


/*style the items (options), including the selected item:*/

.select-items div,
.select-selected {
    color: #555770;
    font-size: 14px;
    font-family: 'Nunito Light';
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
}


/*style items (options):*/

.select-items {
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 16px #60617029;
    border-radius: 8px;
    top: 115%;
    left: 0;
    right: 0;
    z-index: 99;
    height: 200px;
    overflow-y: auto;
}


/*hide the items when the select box is closed:*/

.select-hide {
    display: none;
}

.select-items div:hover {
    background-color: #E5F0FF;
}


/* custom select tag end  */

.sort-by-dropdown-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.sort-by-dropdown-body {
    display: flex;
    flex-direction: column;
    width: 240px;
    position: absolute;
    top: 48px;
    left: 0;
    box-shadow: 0px 8px 16px #60617029;
    border-radius: 8px;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
    background: white;
}

.sort-by-item {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    cursor: pointer;
}

.sort-by-item:hover {
    background: #E5F0FF;
}

.sort-by-btn {
    position: relative;
}

.sort-btn {
    display: none;
}

.sort-btn-active {
    display: none;
}

.manual-add-influencer {
    height: 48px;
    font-size: 12px;
    font-family: 'Nunito';
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background: #E5F0FF;
    border-radius: 2px;
    border-left: solid 2px #0063F7;
    margin: 8px 16px;
}

.manual-add-influencer img {
    margin-right: 18px;
}

.manual-add-btn {
    width: 152px;
    height: 32px;
    background: white;
    border: solid 1px #3E7BFA;
    color: #3E7BFA;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
}

.list-of-filters {
    font-size: 10px;
    font-family: 'Nunito';
    color: #555770;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 24px;
    padding: 0 16px;
}

.filter-item {
    background: #C7C9D9;
    border-radius: 50px;
    padding: 4px 8px;
    margin-right: 8px;
    margin-bottom: 4px;
    display: inline-block;
}

.filter-item span {
    margin-left: 8px;
}

.delete-filter-btn {
    color: #FF3B3B;
    cursor: pointer;
}

.separater {
    height: 16px;
    border-bottom: solid 2px rgba(0, 0, 0, 0.05);
}

.influencer-item {
    display: flex;
    flex-direction: row;
    padding: 16px 16px 8px 16px;
    border-bottom: solid 2px rgba(0, 0, 0, 0.05);
}

.influencer-avatar {
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    cursor: pointer;
}

.influencer-avatar img {
    width: 100%;
    border-radius: 50%;
}

.influencer-name-type {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.influencer-library-type {
    color: #3E7BFA;
    width: 77px;
    height: 20px;
    border: solid 1px #3E7BFA;
    border-radius: 8px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px auto 0 auto;
}

.influencer-main-content {
    width: 512px;
    margin: 0 16px;
    flex: 1;
    cursor: pointer;
}

.influencer-name {
    color: #555770;
    font-size: 16px;
    font-family: 'Nunito Bold';
}

.influencer-library-name {
    color: #555770;
    font-size: 16px;
    font-family: 'Nunito Bold';
    display: none;
}

.influencer-match {
    color: #06C270;
    font-size: 14px;
    font-family: 'Nunito Light';
    margin-left: 16px;
}

.influencer-general-info {
    color: #555770;
    font-family: 'Nunito Light';
    font-size: 12px;
    display: flex;
    flex-direction: row;
    margin: 8px 0;
}

.general-info {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.general-info img {
    margin-right: 4px;
}

.influencer-introduction {
    color: #555770;
    font-family: 'Nunito Light';
    font-size: 14px;
    padding-bottom: 16px;
    border-bottom: solid 2px rgba(0, 0, 0, 0.05);
}

.influencer-introduction span {
    display: -webkit-box;
    max-height: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.control-btn-add {
    width: 132px;
    height: 32px;
    background: #3E7BFA;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0px 2px 4px #60617029;
    border-radius: 8px;
    font-size: 12px;
    font-family: 'Nunito';
    margin-right: 0;
    cursor: pointer;
}

.control-btn-add img {
    margin-right: 4px;
}

.control-btn-remove {
    width: 97px;
    height: 32px;
    background: #FF3B3B;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0px 2px 4px #60617029;
    border-radius: 8px;
    font-size: 12px;
    font-family: 'Nunito';
    margin-right: 0;
    cursor: pointer;
}

.control-btn-remove img {
    margin-right: 4px;
}

.expected-cost {
    font-family: 'Nunito Light';
    font-size: 12px;
    color: #555770;
    padding: 8px 0;
    transition: 0.4s;
}

.alert-bind {
    background: #FFE6E6;
    transition: 0.4s;
}

.expected-cost span {
    margin-right: 8px;
}

.expected-cost-body {
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
}

.alert-choices {
    color: #FF3B3B;
    font-family: 'Nunito Light';
    font-size: 12px;
    margin-left: 32px;
    display: none;
}

.channel-tabs {
    height: 32px;
    display: flex;
    align-items: flex-end;
    margin-top: 8px;
    margin-bottom: 8px;
}

.channel-tab-detail {
    padding-left: 8px;
}

.channel-tabs-item {
    padding: 8px;
    color: #8F90A6;
    cursor: pointer;
}

.channel-tabs-item img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.tab-active {
    border-bottom: solid 2px #3E7BFA;
    color: #1C1C28;
}

.channel-tab-detail-row {
    display: flex;
    align-items: center;
}

.tab-checked {
    margin-right: 8px;
}

.tab-task {
    display: inline-block;
    padding-right: 24px;
    min-width: 130px;
    margin: 4px 0;
}

.disabled-input {
    background: #eceaea !important;
    border: solid 1px #c1c1c1;
}

.add-task-successfully {
    width: 338px;
    height: 48px;
    background: #E3FFF1;
    border-left: solid 3px #06C270;
    position: fixed;
    bottom: 10px;
    left: -400px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Nunito';
    font-size: 12px;
    color: #1C1C28;
    box-shadow: 0px 2px 4px #00000029;
    border-radius: 2px;
    transition: 0.6s;
}

.add-task-successfully span {
    margin-left: 16px;
}

.add-task-successfully img {
    margin-right: 8px;
}


/* task remove modal section  */

#task-remove-modal .modal-content {
    padding-top: 24px;
}

.task-remove-modal-header {
    color: #1C1C28;
    font-family: 'Nunito Bold';
    font-size: 14px;
    margin-bottom: 24px;
    display: inline-block;
}

.task-list-remove-header {
    display: flex;
    color: #1C1C28;
    font-family: 'Nunito';
    font-size: 14px;
    margin-bottom: 16px;
}

.task-list-remove-body {
    margin-bottom: 8px;
}

.task-selection-col {
    width: 15%;
}

.task-channel-col {
    width: 25%;
}

.task-job-col {
    width: 25%;
}

.task-cost-col {
    width: 35%;
}

.task-list-remove-item {
    display: flex;
    align-items: center;
    font-family: 'Nunito Light';
    font-size: 12px;
    color: #555770;
    height: 48px;
}

.remove-task-btn-wrapper {
    display: flex;
    justify-content: flex-end;
}

.remove-task-btn {
    width: 101px;
    height: 32px;
    background: #FF3B3B;
    border: none;
    outline: none;
    box-shadow: 0px 2px 4px #60617029;
    border-radius: 8px;
    color: #FAFAFC;
    font-family: 'Nunito';
    font-size: 12px;
    margin-bottom: 16px;
    margin-right: 16px;
}


/* task remove modal section end  */

.expand-filter-menu {
    width: 348px !important;
    padding: 24px 24px 0 24px !important;
}

.pagination-wrapper {
    height: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
}

.pagination {
    display: flex;
    align-items: center;
    font-family: 'Nunito';
    font-size: 12px;
    color: #8F90A6;
}

.pages {
    margin: 0 16px;
    cursor: pointer;
}

.page-active {
    color: #3E7BFA;
    font-family: 'Nunito Bold';
}

.switch-page-btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px #60617029;
    cursor: pointer;
}

.prev-btn {
    margin-right: 8px;
    padding-right: 4px;
}

.next-btn {
    margin-left: 8px;
    padding-left: 4px;
}


/* .influencer-item-wrapper{
        display: none;
    } */


/* profile modal section  */

#influencer-profile-modal .modal-dialog {
    min-width: 760px !important;
    height: 100%;
}

#influencer-profile-modal .modal-header {
    height: 67px;
    box-shadow: 1px 1px 2px #60617029;
}

@media (orientation: landscape) {
    .profile-modal-body {
        height: 580px;
        overflow: scroll;
    }
    #influencer-profile-modal .modal-content {
        height: 660px;
    }
}

@media (orientation: portrait) {
    .profile-modal-body {
        height: 816px;
        overflow: scroll;
    }
    #influencer-profile-modal .modal-content {
        height: 900px !important;
    }
}

.profile-modal-body::-webkit-scrollbar {
    display: none;
}

#influencer-profile-modal .modal-title {
    font-family: 'Nunito Bold';
    font-size: 14px;
    color: #1C1C28;
}

#influencer-profile-modal .modal-content {
    height: 660px;
}

#influencer-profile-modal .modal-content::-webkit-scrollbar {
    display: none;
}

.summery {
    color: #1C1C28;
    font-family: 'Nunito';
    font-size: 14px;
}

.influencer-profile-information {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.influencer-profile-picture {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
}

.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.influencer-personal-info {
    color: #555770;
    font-size: 12px;
    font-family: 'Nunito Light';
    display: flex;
    flex-direction: row;
    height: fit-content;
    flex-wrap: wrap;
}

.personal-info-style {
    margin-right: 16px;
    display: flex;
    align-items: center;
}

.influencer-personal-social {
    margin-top: 16px;
}

.personal-social {
    display: flex;
    height: 16px;
    color: #555770;
    font-family: 'Nunito';
    font-size: 12px;
    margin-bottom: 8px;
}

.social-item {
    margin-right: 36px;
}

.social-item img {
    width: 16px;
    height: 16px;
}

.follower-value {
    margin-right: 26px;
    font-family: 'Nunito Bold';
}

.interaction-value {
    font-family: 'Nunito Bold';
}

.influencer-profile-information-desc {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.desc-title {
    color: #1C1C28;
    font-family: 'Nunito';
    font-size: 14px;
}

.desc-text {
    color: #555770;
    font-size: 14px;
    font-family: 'Nunito Light';
}

.match-subject {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.match-subject-list {
    display: flex;
}

.match-subject-item {
    color: #FAFAFC;
    font-size: 10px;
    font-family: 'Nunito Light';
    margin-right: 8px;
    background: #3E7BFA;
    display: flex;
    height: 24px;
    border-radius: 12px;
    align-items: center;
    padding: 0 12px;
    margin-top: 8px;
}

.task-and-cost {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-family: 'Nunito';
}

.channel-tab-detail-profile {
    margin-top: 16px;
    max-width: 250px;
}

.channel-tab-detail-col {
    display: flex;
    flex-direction: column;
}

.task-detail {
    height: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    color: #555770;
    font-size: 12px;
    font-family: 'Nunito Light';
}

.task-detail img {
    width: 16px;
    height: 16px;
}

.cost-for-task {
    margin-left: auto;
}

.social-network-activities {
    margin-top: 24px;
}

.activities-slider {
    font-family: 'Nunito';
    font-size: 12px;
}

.activities-slider>.channel-tabs {
    width: 100%;
    overflow: scroll;
}

.activities-slider>.channel-tabs::-webkit-scrollbar {
    display: none;
}

.activities-slider>.channel-tabs>.channel-tabs-item {
    display: flex;
    min-width: 120px;
}

.activities-slider-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-cards-wrapper {
    display: flex;
    overflow-x: auto;
    margin: 0 45px;
    scroll-snap-type: x mandatory;
    padding: 8px;
    scroll-behavior: smooth;
}

.slider-cards-wrapper::-webkit-scrollbar {
    display: none;
}

.slider-card {
    width: 172px;
    height: 230px;
    box-shadow: 0px 0.5px 2px #60617029;
    border-radius: 16px;
    margin-right: 16px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    cursor: pointer;
}

.card-img-container {
    position: relative;
    width: 172px;
    height: 178px;
}

.card-img-container span {
    position: absolute;
    display: block;
    bottom: 0;
    text-align: center;
    color: #FAFAFA;
    font-family: 'Nunito Light';
    font-size: 12px;
    padding: 8px;
    background: rgba(85, 87, 112, 0.5)
}

.slider-card-image {
    width: 172px;
    height: 178px;
    border-radius: 16px 16px 0 0;
    object-fit: cover;
}

.slider-card-info {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-info img {
    width: 16px;
    height: 16px;
}

.view-more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0;
}

.view-more span {
    display: block;
    text-align: center;
    color: #3E7BFA;
    font-family: 'Nunito Light';
    font-size: 20px;
    width: 172px;
    transition: 0.3s;
}

.view-more span:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

.youtube-card-info {
    padding: 8px;
}

.slider-action-btn {
    cursor: pointer;
}

.statitics {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    margin-top: 24px;
}

.statitics-chart {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.chart-wrapper:first-child {
    margin-right: 12px;
}

.chart-wrapper:last-child {
    margin-left: 12px;
}

.chart-wrapper {
    width: 270px;
    height: 214px;
    box-shadow: 0px 8px 16px #60617029;
    border-radius: 16px;
    padding: 16px 24px;
}

.chart-wrapper img {
    width: 100%;
    object-fit: contain;
}


/* profile modal section end */


/* influencer library section  end*/


/* added task successfully alert */

#added-task-alert-modal .modal-dialog {
    max-width: 300px !important;
}

#added-task-alert-modal~.modal-backdrop {
    background: transparent !important;
}

#added-task-alert-modal .modal-content {
    background: rgba(0, 0, 0, 0.4);
}

#added-task-alert-modal .modal-content .modal-body {
    height: 150px;
    width: 200px;
    padding: 16px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.check-icon-successfully {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: rgb(2, 192, 2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    margin: 8px auto;
}

#added-task-alert-modal .modal-content .modal-body span {
    margin-top: 12px;
    font-size: 14px;
    font-family: 'Nunito';
    color: white;
}

@media only screen and (max-width: 1160px) {
    .create-new-influencer {
        width: 100%;
        padding: 0 16px;
        flex: 1;
        margin: 24px auto;
    }
    /* influencer library section  */
    .influencer-library-header {
        width: 852px;
    }
    .filter-by-close-btn {
        display: block;
    }
    .influencer-library-filter {
        position: fixed;
        top: 0;
        right: 0;
        padding: 0;
        background: #EBEBF0;
        z-index: 101;
        height: 100%;
        margin-top: 0;
        width: 0;
        transition: 0.2s;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .filter-by {
        margin-top: 0;
    }
    .filter-btn-mobile {
        display: flex;
    }
    .filter-actions-btn {
        display: inline-block;
        position: sticky;
        bottom: 0;
        width: 100%;
        z-index: 100;
        text-align: center;
    }
    .mask {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 100;
    }
    .influencer-list-wrapper {
        margin-left: unset;
    }
    .influencer-list-wrapper-header {
        justify-content: flex-end;
    }
    .search-bar {
        width: 257px;
        justify-content: flex-end;
        border: none;
        flex: 1;
    }
    .search-icon {
        width: 32px;
        height: 32px;
        border: solid 1px #3E7BFA;
        padding: 8px;
        border-radius: 8px;
        transition: 0.4s;
    }
    .search-icon>#search-normal>#Vector {
        stroke: #3E7BFA;
    }
    .search-icon>#search-normal>#Vector-2 {
        stroke: #3E7BFA;
    }
    .search-input {
        display: none;
    }
    .search-cancel-btn {
        display: none;
    }
    /* influencer library section end  */
}

@media screen and (max-width: 1024px) {
    .create-new-influencer-content {
        padding: 16px 0;
        height: auto;
        margin: 0 auto;
        flex: 1;
    }
    .create-new-influencer-content-header {
        padding: 0 16px;
    }
    .btn-actions {
        padding: 16px;
        border-bottom: solid 0.5px rgba(0, 0, 0, 0.3);
    }
    .add-item-btn {
        margin: 0;
    }
    .data-table-body {
        display: grid;
        grid-template-columns: auto auto;
        grid-auto-flow: row;
        row-gap: 16px;
        column-gap: 16px;
    }
    .content-table {
        box-shadow: none;
        padding: 0 16px;
        border-bottom: solid 0.5px rgba(0, 0, 0, 0.3);
        flex: 1;
    }
    .data-table {
        height: 600px;
    }
    .content-footer {
        padding: 0 16px;
    }
    .data-table-header {
        display: none;
    }
    .data-table-row {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 16px auto auto;
        width: 100%;
        height: 174px;
        background: #FAFAFC;
        box-shadow: 0px 2px 4px #00000029;
        border-radius: 16px;
        padding: 16px;
    }
    .selection-row {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .influencer-row {
        grid-column: 2/3;
        grid-row: 1/2;
        width: auto;
        margin-left: 16px;
    }
    .user-avatar {
        width: 44px;
        height: 44px;
    }
    .username {
        font-size: 16px;
        font-family: 'Nunito Bold';
        margin-left: 8px;
        margin-right: 16px;
    }
    .type-row {
        width: auto;
    }
    .influencer-pill {
        padding: 0 8px;
    }
    .channel-row {
        grid-column: 2/4;
        grid-row: 2/3;
        width: auto;
        margin-left: 16px;
    }
    .job-row {
        grid-column: 3/4;
        grid-row: 2/3;
        width: auto;
        margin-left: 0;
    }
    .cost-row {
        grid-column: 2/4;
        grid-row: 3/4;
        width: auto;
        margin-left: 16px;
    }
    .cost-row .hidden-label {
        margin-right: 12px !important;
    }
    .note-row {
        grid-column: 2/4;
        grid-row: 4/5;
        width: auto;
        margin-left: 16px;
    }
    .note-row .hidden-label {
        margin-right: 41px !important;
    }
    .data-table-row:hover .group-btn {
        display: none;
    }
    .data-table-row:hover .job-edit-btn {
        display: none;
    }
    .data-table-row:hover .edit-channel-btn {
        display: none;
    }
    .price-edit-btn {
        display: block;
    }
    .note-edit-btn {
        display: block;
    }
    .note-col {
        padding-left: unset;
    }
    .channel-icon {
        width: 24px;
        height: 24px;
    }
    .hidden-label {
        margin-right: 30px !important;
    }
    .note-wrapper {
        align-items: center;
    }
    .delete-notification {
        bottom: 32px;
    }
    /* profile modal section  */
    .slider-action-btn {
        display: none;
    }
    .slider-cards-wrapper {
        margin: 0;
    }
}

@media only screen and (max-width: 768px) {
    .total-items {
        display: flex;
        flex-direction: column;
    }
    .total {
        margin-right: 64px;
    }
    .total-influencer {
        margin-bottom: 20px;
    }
    /* influencer library section  */
    .influencer-library-header {
        width: 100%;
        padding: 0 16px;
    }
    .content-block-container {
        width: 100%;
        padding: 0 16px;
    }
    .influencer-list-wrapper {
        width: 100%;
    }
    #list-name-binding {
        max-width: 400px;
    }
    /* profile modal section  */
    #influencer-profile-modal .modal-dialog {
        min-width: 732px !important;
    }
}

@media only screen and (max-width: 750px) {
    .create-new-influencer {
        flex: 1;
    }
    .data-table-body {
        grid-template-columns: auto;
        grid-auto-flow: row;
        row-gap: 16px;
        column-gap: 16px;
    }
}

@media only screen and (max-width: 660px) {
    .menu {
        display: none;
    }
    .message-notification {
        display: none;
    }
    .collapse-btn {
        display: flex;
    }
    .user {
        margin: 0;
    }
    .create-new-influencer {
        padding: 0;
        margin: unset;
    }
    .influencer-title {
        display: flex;
        align-items: center;
    }
    #list-name-binding {
        max-width: 120px;
    }
    .create-new-influencer-header {
        margin: 8px;
    }
    .create-new-influencer-content {
        margin: unset;
        padding: 16px 8px 16px 8px;
    }
    .data-table-body {
        padding: 0;
        margin-top: 24px;
        margin-bottom: 8px;
    }
    .copy-btn {
        display: none;
    }
    .channel-and-job {
        display: none;
    }
    .delete-btn {
        display: none;
    }
    .create-new-influencer-content-header {
        order: 1;
        padding: 0 0 16px 0;
        border-bottom: solid 1px #60617029;
    }
    .mobile-header-btn-back {
        width: 24px;
        height: 24px;
    }
    .mobile-header-btn-actions {
        display: flex;
        justify-content: flex-end;
    }
    .content-table {
        order: 2;
        padding: 0;
        border-bottom: none;
    }
    .btn-actions {
        order: 3;
        padding: 0;
        border-bottom: none;
    }
    .add-item-btn {
        width: 100%;
        margin: 0;
    }
    .content-footer {
        order: 4;
        flex-direction: column;
    }
    .total-items {
        flex-direction: column;
    }
    .total-item-row-1 {
        flex-direction: column;
    }
    .total-influencer {
        margin-bottom: 16px;
    }
    .total-job {
        margin-bottom: 16px;
    }
    .total-item-row-2 {
        justify-content: space-between;
    }
    .price-quotation {
        margin-top: 16px;
    }
    .footer {
        justify-content: center;
        height: unset;
        padding: unset;
        margin-top: 16px;
    }
    .social {
        justify-content: center;
        margin: 28px auto 8px auto;
    }
    .brand-slogan {
        justify-content: center;
    }
    .policy {
        flex-direction: column;
        justify-content: center;
    }
    .trademark {
        text-align: center;
        margin-bottom: 24px;
    }
    .policy-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 10px;
        background: #3568D4;
        padding: 16px;
    }
    /* influencer library section  */
    .content-block-container {
        padding: 0;
    }
    .influencer-list-wrapper-header {
        margin: 8px;
    }
    .filter-btn-mobile {
        margin: 0 8px;
    }
    .sort-by {
        display: none;
    }
    .sort-btn {
        display: block;
    }
    .sort-by-dropdown-body {
        top: 40px;
        left: -208px;
        font-size: 14px;
        font-family: 'Nunito Light';
        color: #555770;
    }
    .manual-add-influencer {
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        padding: 8px 0;
        margin: 8px;
    }
    .manual-add-btn {
        margin-left: unset;
        margin-top: 8px;
    }
    .list-of-filters {
        padding: 0 8px;
    }
    .influencer-match {
        display: none;
    }
    .influencer-name {
        display: none;
    }
    .influencer-library-name {
        display: block;
    }
    .influencer-item {
        flex-direction: column;
        padding: 8px;
    }
    .influencer-avatar {
        flex-direction: row;
        width: 100%;
        align-items: center;
        padding-bottom: 6px;
        border-bottom: solid 2px rgba(0, 0, 0, 0.05);
    }
    .influencer-avatar img {
        width: 40px;
        height: 40px;
        margin-right: 8px;
    }
    .influencer-name-type {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .influencer-library-type {
        margin: unset;
    }
    .influencer-main-content {
        width: 100%;
        margin: 0;
    }
    .expected-cost {
        border-bottom: solid 2px rgba(0, 0, 0, 0.05);
    }
    .control-btn {
        margin-top: 8px;
    }
    .control-btn-add {
        width: 100%;
    }
    .control-btn-remove {
        width: 100%;
    }
    .channel-tabs {
        height: auto;
    }
    .expand-filter-menu {
        width: 100% !important;
    }
    .search-bar input {
        margin: 0;
    }
    /* search no item  */
    .search-no-item {
        flex-direction: column;
        width: 100%;
        margin: 8px auto;
    }
    .no-item-text {
        margin-left: unset;
        text-align: center;
        padding: 8px;
    }
    /* profile modal section  */
    #influencer-profile-modal {
        padding: 0;
    }
    #influencer-profile-modal .modal-dialog {
        min-width: 100% !important;
    }
    #influencer-profile-modal .modal-content {
        height: 632px !important;
    }
    #influencer-profile-modal .modal-header {
        height: 51px;
        padding: 16px;
    }
    #influencer-profile-modal .modal-body {
        height: 600px !important;
        padding: 8px;
    }
    .profile-modal-body {
        height: 560px !important;
    }
    .influencer-profile-picture {
        margin-right: 8px;
    }
    .profile-picture {
        width: 80px;
        height: 80px;
        margin-bottom: 8px;
    }
    .personal-social {
        flex-direction: column;
        height: auto;
    }
    .personal-info-style {
        min-width: 80px;
        margin-bottom: 8px;
    }
    .social-item {
        margin-bottom: 4px;
    }
    .follower-value {
        margin-right: 40px;
    }
    .task-and-cost-detail>.channel-tabs {
        justify-content: space-between;
    }
    .task-and-cost-detail>.channel-tabs>.channel-tabs-item {
        font-size: 0;
        text-align: center;
        flex: 1;
    }
    .task-and-cost-detail>.channel-tabs>.channel-tabs-item:last-child {
        font-size: 12px;
    }
    .statitics-chart {
        flex-direction: column;
        padding: 16px 8px;
    }
    .chart-wrapper:first-child {
        margin-right: unset;
    }
    .chart-wrapper:last-child {
        margin-left: unset;
    }
    .chart-wrapper {
        width: 100%;
        margin: 16px auto;
    }
    .chart-wrapper img {
        height: 100%;
    }
}


/* fix layout filter focus channel  */

.post-image,
.post-video,
.post-sharing,
.post-livestream,
.post-story,
.post-other {
    flex-direction: column;
}

.task-set-price {
    display: flex;
    width: 100%;
    align-items: center;
}